<%- if @jekyll -%>
require 'jekyll'
require 'jekyll_plugin_logger'

# puts File.join(__dir__, '*.rb')

<%- end -%>
require_relative '<%= @gem_name %>/version'

# Require all Ruby files in 'lib/', except this file
Dir[File.join(__dir__, '*.rb')].each do |file|
  unless file.end_with? '/jekyll_test.rb'
    puts "requiring #{file}"
    require file
  end
end
