/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/test/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/binstub/
/generated/
/spec/status_persistence.txt
templates/jekyll/common_scaffold/%gem_name%.code-workspace.tt

