require 'thor'
require '<%= @gem_name %>'

module <%= @class_name %>
  class Cli < Thor
    include Thor::Actions

    desc "do_something NAME", "<%= @todo %>task description"
    def do_something(name)
      puts "<%= @todo %>do something with: #{name}"
    end
  end
end
